*{
    padding: 0px;
    margin: 0px;
}

.hide{
    display: none;
}
.game{
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.top-panel{
    height: 100px;
    border: 1px solid red;
}
.bottom-panel{
    border: 1px solid green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameboard{
    height: 270px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}
.gameboard div{
    border: 1px solid black;
    height: 88px;
    width: 88px;
}
