.top-container{
    box-shadow: 3px 3px 3px lightgray;
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.top-container button{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    margin: 20px;
    border: none;
    background-color: aquamarine;
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display{
    border: 2px solid lightgrey;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
#gameBoard{
    border: 1px black solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.cells{
    border: 1px solid black;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.log{
    border: 2px solid lightgrey;
    height: 100%;
    width: 400px;
    overflow:scroll;
}
.startPanel{
    border-radius: 15px;
    height: 400px;
    width: 400px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.startPanel input{
    height: 50px;
    width: 300px;
    border:none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin: 20px 30px;

    
}
.startPanel button{
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: aquamarine;
    margin-top: 50px;

}